.vertical-navbar {
    /*background-color: #212529;*/
    /*height: 100rem;*/
    /*background-color: #F8F9FA;*/
}

.scroll {
    max-height: 40rem;
    overflow-y: scroll;
}

.scroll-graphs {
    max-height: 45rem;
    overflow-y: scroll;
}

.scroll-scooters {
    max-height: 35rem;
    overflow-y: scroll;
}

.canvasjs-chart-credit {
    display: none;
}

.leaflet-container {
    width: 500px;
    height: 500px;
}

.leaflet-control-attribution {
    display: none
}

.map {
    width: 500px;
    height: 500px;
}
