.user-menu {
}

.user-menu > .btn-primary.dropdown-toggle:focus {
    background-color: white !important;
    border: 1px solid #000000 !important;
    box-shadow: none !important;
}

.user-menu > .btn-primary.dropdown-toggle:hover {
    background-color: white;
    border: 1px solid #000000;
}

.user-menu > .dropdown-menu > .dropdown-item:active {
    background-color: black;
    color: white;
}

.user-menu > .dropdown-toggle {
    background-color: white;
    border: 1px solid white;
    border-radius: 32px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}

.user-menu > .dropdown-toggle.btn-primary {
    background-color: white !important;
    border: 1px solid white !important;
}

.user-menu > .dropdown-toggle::after {
    display: none;
}

.user-menu-title {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.user-menu-title > .burger-menu {
    color: black;
}

.user-menu-title > .icon {
    color: black;
    padding-left: 7px;
}