#wrapper {
    position: relative;
    padding-left: 20%;
    padding-top: 2%;
    padding-right: 27%;
    /*padding-bottom: 10%;*/
    /*min-height: 100;*/
}

#heading {
    text-align: center;
}

#inertia {
    text-align: left;
}

#container {
}
