/* for customer interface container */
#account-page {
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 2%;
    pointer-events: all;
    position: relative;
}

/* for breadcrumb links */
#breadcrumb {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.buttonPadding {
    margin-left: -20px;
}

.buttonPaddingDepotLat {
    margin-left: -32px;
}

.buttonPaddingDuration {
    margin-left: -12px;

}

.buttonPaddingDepot {
    margin-left: -100px;
}

.buttonPaddingScooter {
    margin-left: 5px;
}

/* for customer interface navigation links */
#customer-row {
    height: 75vh;
}

/* for manager interface navigation links */
#manager-row {
    height: 100vh;
}

/* for landing page map overlay */
#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}

/* format page name heading */
#pageName {
    padding-left: 80px;
}

/* used to position drop down menu */
#top-bar {
    display: flex;
    justify-content: right;
    margin-left: 3%;
    margin-right: 0.5%;
    margin-top: 0.5%;
}

/* for <hr/> attributes */
#underline {
    background-color: black;
    border: solid 1px black;
    color: black;
    margin-left: 80px;
}

/* main wrapper container */
#wrapper {
    display: flex;
    height: 100%;
    position: relative;
}

/* to format account management labels */
.account label {
    width: 300px !important;
}

/* for overflow on main containers */
.autoScroll {
    max-height: 90%;
    overflow-y: auto;
    padding-bottom: 65px;
}

/* sets important black background*/
.black-bg {
    background-color: black !important;
}

/* current page for breadcrumb list */
.breadcrumb-current {
    color: black;
    text-decoration: none;
}

/* other pages in breadcrumb list */
.breadcrumb-list {
    color: grey;
    text-decoration: none;
}

/* hide canvasjs watermark */
.canvasjs-chart-credit {
    display: none;
}

/* allow mouse clicks */
.clickable {
    pointer-events: all;
}

/* for customer navbar */
.customer-column {
    border: black;
    border-block-end: black;
    display: flex;
    justify-content: flex-end;
}

.customer-create-booking-padding {
    padding-right: 15px;
}

/* for customer submit issue input fields */
.customer-issue input {
    width: 500px !important;
}

/* for customer submit issue label fields */
.customer-issue label {
    width: 100px !important;
}

/* for customer submit issue text area fields */
.customer-issue textarea {
    width: 500px;
}

/* for customer navigation links */
.customer-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* for staff dashboard text (value) */
.dashboard-text {
    font-size: xx-large !important;
    text-align: center !important;
}

/* for staff dashboard title (key) */
.dashboard-title {
    text-align: center !important;
}

/* fixed table layout */
.fixed-table {
    table-layout: fixed !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.half-width {
    width: 47.5%;
}

.hover-black {
    color: black !important;
}

.hover-black:hover {
    color: #0D6EFD !important;
}

.input {
    padding-bottom: 10px;
    padding-left: 40px;
}

.input input {
    width: 300px;
}

.input label {
    display: inline-block;
    padding-right: 30px;
    text-align: right;
    width: 200px;
}

.input p {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.input select {
    width: 300px;
}

.issue input {
    width: 1000px !important;
}

.issue select {
    align-content: flex-start !important;
    text-align: left !important;
    width: 300px !important;
}

.issue textarea {
    width: 1000px;
}

.issue-divider {
    background-color: black;
    border: solid 1px black;
    color: black;
    margin-left: 80px;
}

.issue-label-0 {
    background-color: black;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-1 {
    background-color: green;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-2 {
    background-color: orange;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-3 {
    background-color: red;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-text {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.large-padding-bottom {
    padding-bottom: 20px;
}

.large-padding-top {
    padding-top: 20px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.leaflet-container .minimap {
    height: 500px;
    width: 1000px;
}

.leaflet-control-attribution {
    display: none;
}

.manager-vert-navbar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: sticky;
    top: 0;

}

.manager-vert-navbar a {
    color: black;
}

.manager-vert-navbar a.active {
    color: black;
}

.manager-vert-navbar a:hover {
    background-color: lightgray;
    color: black;
}

.map-container {
    height: 100vh;
}

.marginRight {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.max-width {
    width: 100%;
}

.maxWidth {
    clear: both;
    white-space: nowrap;
    width: 90px;
}

.maxWidthDepot {
    clear: both;
    white-space: nowrap;
    width: 120px;
}

.maxWidthLong {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.maxWidthLongDep {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
}

.medium-padding-left {
    padding-left: 15px !important;
}

.minimap {
    max-height: 500px;
    min-width: 100%;
}

.minimap-customer {
    height: 400px !important;
    width: 80% !important;
}

.navbar-pad-left {
    padding-left: 10px;
}

.navbar-pad-right {
    padding-right: 10px;
}

.navbar-style {
    color: white !important;
    font-size: 35px !important;
    padding-left: 15px !important;
}

.nav-indented {
    padding-left: 37px !important;
}

.nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.notification-container {
    bottom: 15px !important;
    top: auto !important;
}

.padding-down {
    padding-bottom: 10px;
}

.sameLine {

    display: inline-flex;
    flex-direction: row;

}

.scroll {
    max-height: 45rem;
    overflow-y: scroll;
}

.search-results {
    margin-top: 10px;
    max-height: 90vh;
    overflow: auto;
    padding: 10px;
}

.small-padding-top {
    padding-top: 5px;
}

.solid-border {
    border-right: 1px solid black !important;
}

.table-formatting {
    border-collapse: collapse;
}

.text-black {
    color: black !important;
}

.text-links {
    color: white;
    text-decoration: none;
}

.text-white {
    color: white !important;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

/* for phone size screens */
@media (max-width: 480px) {
    #account-page {
        border: none;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        pointer-events: all;
        position: relative;
    }

    .customer-column {
        border: none;
        display: flex;
        justify-content: center;
    }

    .customer-column-page {
        display: flex;
        justify-content: center;
    }

    .customer-navigation {
        flex-direction: row;
    }
}

/* for small size screens */
@media (max-width: 767px) {
    #account-page {
        border: none;
        padding-left: 15%;
        padding-right: 10%;
        padding-top: 2%;
        pointer-events: all;
        position: relative;
    }

    .customer-column {
        border: none;
        display: flex;
        justify-content: center;
    }

    .customer-column-page {
        display: flex;
        justify-content: center;
    }

    .customer-navigation {
        flex-direction: row;
    }
}

/* for small to medium size screens */
@media (max-width: 991px) {
    #manager-row {
        background-color: transparent;
        height: 100%;
    }

    .border-end {
        border-right: transparent !important;
    }

    .hamburger-menu {
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 15px;
        top: 18px;
    }

    .manager-vert-navbar {
        display: none !important;

    }

    .manager-vert-navbar-mobile {
        background: rgba(0, 0, 0, 0.92);
        display: flex !important;
        flex-direction: column;
        padding-bottom: 10px;
        position: absolute;
        right: 0;
        width: 100vw;
        z-index: 9002;
    }

    .manager-vert-navbar-mobile a {
        color: white;
    }

    .staff-nav-column {
        background-color: transparent;
        border-right: none !important;
    }
}

/* for large size screens */
@media (min-width: 1200px) {
    #account-page {
        border: none;
        overflow-x: hidden;
        pointer-events: all;
        position: relative;
    }

    .manager-vert-navbar-mobile {
        display: none !important;
    }
}

/* for medium size screens */
@media (min-width: 768px) and (max-width: 991px) {
    #account-page {
        border: none;
        padding-left: 15%;
        padding-right: 10%;
        padding-top: 2%;
        pointer-events: all;
        position: relative;
    }

    .customer-column {
        align-content: center;
        border: none;
        display: flex;
        justify-content: center;
    }

    .customer-column-page {
        display: flex;
        justify-content: center;
    }

    .customer-navigation {
        flex-direction: row;
    }
}

/* for medium to large size screens */
@media (min-width: 992px) and (max-width: 1199px) {
}