#account-page {
    overflow-y: scroll;
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 2%;
    pointer-events: all;
    position: relative;
}

#breadcrumb {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 15px;
}

#customer-row {
    height: 75vh;
}

#manager-row {
    height: 100vh;
}

#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#pageName {
    padding-left: 30px;
}

#top-bar {
    display: flex;
    justify-content: right;
    margin-left: 3%;
    margin-right: 0.5%;
    margin-top: 0.5%;
}

#underline {
    background-color: black;
    border: solid 1px black;
    color: black;
    margin-left: 30px;
}

#wrapper {
    display: flex;
    height: 100%;
    position: relative;
}

.account label {
    width: 300px !important;
}

.autoScroll {
    max-height: 90%;
    overflow-y: auto;
    padding-bottom: 65px;
}

.autoScrollSub {
    overflow-y: auto;
}

.black-bg {
    background-color: black !important;
}

.box {
    height: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 20px !important;
    position: relative;
    width: 75% !important;
}

.box:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.box-staff {
    height: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 20px !important;
    position: relative;
    width: 75% !important;
}

.box-staff:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.breadcrumb-current {
    color: black;
    text-decoration: none;
}

.breadcrumb-list {
    color: grey;
    text-decoration: none;
}

.buttonPadding {
    margin-left: 10px;
    margin-right: 20px;
}

.buttonPaddingDepot {
    margin-left: -100px;
}

.buttonPaddingDepotLat {
    margin-left: -32px;
}

.buttonPaddingDuration {
    margin-left: -12px;
}

.buttonPaddingScooter {
    margin-left: 5px;
}

.canvasjs-chart-credit {
    display: none;
}

.centered-h5 {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.centered-item {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.clickable {
    pointer-events: all;
}

.customer-column {
    border: black;
    border-block-end: black;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.customer-create-booking-padding {
    padding-right: 15px;
}

.customer-issue input {
    width: 500px !important;
}

.customer-issue label {
    width: 100px !important;
}

.customer-issue textarea {
    width: 500px;
}

.customer-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dashboard-text {
    font-size: xx-large !important;
    text-align: center !important;
}

.dashboard-title {
    text-align: center !important;
}

.fixed-table {
    table-layout: fixed !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.half-width {
    width: 47.5%;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-staff {
    display: none;
}

.hamburger-menu-customer {
    display: none;
}

.hover-black {
    color: black !important;
}

.hover-black:hover {
    color: #0D6EFD !important;
}

.hover-white {
    color: white !important;
}

.hover-white:hover {
    color: #555555 !important;
}

.indented-class {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.input {
    padding-bottom: 10px;
    padding-left: 40px;
}

.input input {
    width: 300px;
}

.input label {
    display: inline-block;
    padding-right: 30px;
    text-align: right;
    width: 200px;
}

.input p {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
}

.input select {
    width: 300px;
}

.input-form {
    padding-left: 80px;
    width: auto;
}

.issue input {
    width: 1000px !important;
}

.issue select {
    align-content: flex-start !important;
    text-align: left !important;
    width: 300px !important;
}

.issue textarea {
    width: 1000px;
}

.issue-divider {
    background-color: black;
    border: solid 1px black;
    color: black;
    margin-left: 30px;
}

.issue-filters-mobile {
    display: none;
}

.issue-label-0 {
    background-color: black;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-1 {
    background-color: green;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-2 {
    background-color: orange;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-label-3 {
    background-color: red;
    border-radius: 25px;
    color: white;
    height: 25px;
    justify-content: center;
}

.issue-text {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.large-padding-bottom {
    padding-bottom: 20px;
}

.large-padding-top {
    padding-top: 20px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.leaflet-container .minimap {
    height: 500px;
    width: 1000px;
}

.leaflet-control-attribution {
    display: none;
}

.manager-rows {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 78px;
}

.manager-vert-navbar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.manager-vert-navbar a {
    color: black;
}

.manager-vert-navbar a.active {
    color: black;
}

.manager-vert-navbar a:hover {
    background-color: lightgray;
    color: black;
}

.manager-vert-navbar-mobile {
    display: none !important;
}

.map-container {
    height: 100vh;
}

.mapMaxHeightRow {
    max-height: 350px !important;
}

.marginRight {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.max-width {
    width: 100%;
}

.maxWidth {
    clear: both;
    min-width: 50px;
    white-space: nowrap;
    width: auto;
}

.maxWidthDepot {
    clear: both;
    min-width: 90px;
    white-space: nowrap;
    width: auto;
}

.maxWidthLong {
    clear: both;
    min-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

.maxWidthLongDep {
    clear: both;
    min-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

.medium-padding-left {
    padding-left: 15px !important;
}

.minimap {
    max-height: 500px;
    min-width: 100%;
}

.minimap-box {
    height: 350px !important;
}

.minimap-customer {
    height: 400px !important;
    width: 80% !important;
}

.minimap-guest {
    height: 600px !important;
}

.navbar-pad-left {
    padding-left: 10px;
}

.navbar-pad-right {
    padding-right: 10px;
}

.navbar-style {
    color: white !important;
    font-size: 35px !important;
    padding-left: 15px !important;
}

.nav-indented {
    padding-left: 37px !important;
}

.nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.notification-container {
    bottom: 15px !important;
    top: auto !important;
}

.padding-down {
    padding-bottom: 10px;
}

.sameLine {
    display: inline-flex;
    flex-direction: row;
}

.scroll {
    max-height: 45rem;
    overflow-y: scroll;
}

.search-results {
    margin-top: 10px;
    max-height: 90vh;
    overflow: auto;
    padding: 10px;
}

.small-padding-top {
    padding-top: 5px;
}

.solid-border {
    border-right: 1px solid black !important;
}

.table-formatting {
    border-collapse: collapse;
}

.text-black {
    color: black !important;
}

.text-links {
    color: white;
    text-decoration: none;
}

.text-white {
    color: white !important;
}

.topnavbar {
    background: black;
    display: block;
    height: 78px;
    top: 0;
    width: 100%;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 21px;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

@media (max-width: 791px) {
    .issue-divider {
        margin-left: 20px !important;
    }

    .issue-view {
        display: none !important;
    }

    .issue-view-mobile {
        display: initial !important;
    }
}
.issue-view-mobile {
    display: none;
}
@media (max-width: 1500px) {
    .issue-divider {
        margin-left: 20px;
    }

    .issue-filters {
        display: none;
    }

    .issue-filters-mobile {
        display: initial !important;
    }
}
.booking-responsive-mobile {
    display: none;
}
@media (max-width: 1070px) {

    .customer-navigation {
        flex-direction: row;
    }

    .minWidthFieldLarge {
        min-width: 300px;
    }

    .minWidthFieldSmall {
        min-width: 200px;
    }

    .responsive-issue {
        overflow-x: auto;
    }

    .responsive-table {
        overflow-x: auto;
    }

    .responsive-table .form-control {
        min-width: 100px;
    }
    .booking-responsive-mobile {
        display: initial !important;
    }
    .dropDownMenu {
        display: none !important;
    }
    .booking-responsive {
        display: none;
    }
    #account-page {
        padding-left: 5%;
        padding-right: 7%;
        padding-top: 2%;
        pointer-events: all;
        position: relative;
    }

    #breadcrumb {
        display: none;
    }

    #customer-row {
        height: 100%;
    }

    #manager-row {
        background-color: transparent;
        height: 100%;
    }

    #pageName {
        padding-left: 20px !important;
        padding-top: 15px;
    }

    #underline {
        margin-left: 20px !important;
    }

    .border-end {
        border-right: transparent !important;
    }

    .customer-column {
        border: none !important;
        border-block-end: transparent !important;
        display: flex;
        width: 0 !important;
    }

    .customer-home {
        display: none !important;
    }

    .customer-logout {
        display: none;
    }

    .customer-navigation {
        display: none !important;
    }

    .customer-navigation-mobile {
        background: rgba(0, 100, 230, .92);
        display: flex !important;
        flex-direction: column;
        padding-bottom: 10px;
        position: fixed;
        right: 15px;
        top: 55px;
        width: auto;
        z-index: 10000000 !important;
    }

    .hamburger-menu {
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 190px;
        top: 18px;
        z-index: 9999;
    }

    .hamburger-menu-customer {
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 15px;
        top: 7px;
        z-index: 9999;
    }

    .input-form {
        padding-left: 20px !important;
    }

    .manager-vert-navbar {
        display: none !important;
    }

    .manager-vert-navbar-mobile {
        background: rgba(0, 0, 0, 0.92);
        display: flex !important;
        flex-direction: column;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        width: 100vw;
        z-index: 9008;
    }

    .manager-vert-navbar-mobile a {
        color: white;
    }

    .staff-nav-column {
        background-color: transparent;
        border-right: none !important;
    }
    .box {
        display: none;
    }
    .box-show {
        display: initial;
    }
    .mobile {
        display: none;
    }
}

.small-padding-bottom {
    padding-bottom: 10px;
}

.customer-create-booking-card *{
    z-index: -1;
}

@media (max-width: 991px) {
    #manager-row {
        display: none;
    }

    .hamburger-menu-staff {
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 17px;
        top: 18px;
        z-index: 9999;
    }
}