.menu-page > .map-background {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-page > .my-account {
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-page > .side-bar > .content > .search-results {
    width: auto;
    overflow-y: auto;
    height: 80vh;
    margin-bottom: 10px;
    border-radius: 10px;
}

.image-view {
    border-radius: 10px;
}

.menu-page > .logo > p {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.55));
}

@media (min-width: 750px) {
    .menu-page > .side-bar {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 30vw;
        min-width: 365px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .menu-page > .side-bar > .search-bar {
        pointer-events: all;
        width: auto;
        height: 42px;
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 6px;
    }

    .menu-page > .side-bar > .content {
        pointer-events: all;
        background-color: white;
        overflow-y: auto;
        overflow-x: hidden;
        flex-grow: 1;
        min-width: 345px;
        width: auto;
        height: auto;
        margin-right: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .menu-page > .logo {
        z-index: 2;
        pointer-events: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        font-size: 36px;
        font-weight: bold;
        color: white;
    }
}

@media (max-width: 750px) {

    .menu-page > .side-bar {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        overflow-y: auto;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    .menu-page > .side-bar > .search-bar {
        pointer-events: all;
        width: 100vw;
        height: 42px;
        padding-right: 110px;
        margin-bottom: 10px;
        border-radius: 6px;
    }

    .menu-page > .side-bar > .search-bar > Form.Control {
        pointer-events: all;
    }

    .menu-page > .side-bar > .content {
        pointer-events: all;
        background-color: white;
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        width: auto;
        height: auto;
        padding: 10px;
        border-radius: 10px;
    }

    .menu-page > .logo {
        z-index: 5;
        pointer-events: none;
        position: fixed;
        bottom: 10px;
        right: 25px;
        font-size: 36px;
        font-weight: bold;
        color: white;
    }
}