/* Contains styling for landing page */

.image-view {
    border-radius: 10px;
}

@media (max-width: 1325px) {
    .image-col {
        display: none;
    }
}

@media (min-height: 667px) {
    .image-col {
        display: initial !important;
    }
}

.menu-page > .logo > p {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.55));
}

.menu-page > .map-background {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.menu-page > .my-account {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 3;
}

.menu-page > .side-bar > .content > .search-results {
    border-radius: 10px;
    height: 80vh;
    margin-bottom: 10px;
    overflow-y: auto;
    width: auto;
}

@media (max-width: 750px) {
    .menu-page > .logo {
        bottom: 10px;
        color: white;
        font-size: 36px;
        font-weight: bold;
        pointer-events: none;
        position: fixed;
        right: 25px;
        z-index: 5;
    }

    .menu-page > .side-bar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        overflow-y: auto;
        padding: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 2;
    }

    .menu-page > .side-bar > .content {
        background-color: white;
        border-radius: 10px;
        flex-grow: 1;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        pointer-events: all;
        width: auto;
    }

    .menu-page > .side-bar > .search-bar {
        border-radius: 6px;
        height: 42px;
        margin-bottom: 10px;
        padding-right: 110px;
        pointer-events: all;
        width: 100vw;
    }

    .menu-page > .side-bar > .search-bar > Form.Control {
        pointer-events: all;
    }
}

@media (min-width: 750px) {
    .menu-page > .logo {
        bottom: 0;
        color: white;
        font-size: 36px;
        font-weight: bold;
        pointer-events: none;
        position: fixed;
        right: 15px;
        z-index: 2;
    }

    .menu-page > .side-bar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        left: 0;
        min-width: 365px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-top: 10px;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 30vw;
        z-index: 2;
    }

    .menu-page > .side-bar > .content {
        background-color: white;
        border-radius: 10px;
        flex-grow: 1;
        height: auto;
        margin-bottom: 10px;
        margin-right: 20px;
        min-width: 345px;
        overflow-x: hidden;
        overflow-y: auto;
        pointer-events: all;
        width: auto;
    }

    .menu-page > .side-bar > .search-bar {
        border-radius: 6px;
        height: 42px;
        margin-bottom: 10px;
        margin-right: 10px;
        pointer-events: all;
        width: auto;
    }
}