.wrapper, html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    display: flex;
}

.scroll {
    max-height: 45rem;
    overflow-y: scroll;
}

.canvasjs-chart-credit {
    display: none;
}

.leaflet-container {
    width: 1000px;
    height: 500px;
}

.leaflet-control-attribution {
    display: none;
}

.minimap {
    min-width: 100%;
    max-height: 620px;
}

/*STYLING FOR NAVIGATION BAR, MANAGER AND EMPLOYEE (even though in the name it says manager)*/
.manager-vert-navbar {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.manager-vert-navbar a {
    color: black;
}

/*styling for pill navbar on hover*/
.manager-vert-navbar a:hover {
    color: black;
    background-color: lightgray;
}

.manager-vert-navbar a.active {
    color: black;
}

/*styling for active pill in navbar*/
.nav-pills .nav-link.active {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.nav-link {
    color: black;
}

/*expands the row that the vertical navbar is in to fit the whole page so the divider line extends down to the bottom of the page*/
#manager-row {
    height: 100vh;
}

/*css to push the headers of each page in slightly*/
#pageName {
    padding-left: 10px;
    padding-top: 15px;
}

.nav-indented {
    padding-left: 37px;
}

